{% extends 'base.html' %}

{% block content %}
  <h2>DETAIL</h2>
  <h3>{{ article.pk }}번째 글</h3>
  <hr>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>작성 시각 : {{ article.created_at }}</p>
  <p>수정 시각 : {{ article.updated_at }}</p>
  <hr>
  <a href="{% url 'articles:edit' article.pk %}"><button class="btn btn-info">EDIT</button></a>
  <form class="inline" action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <button type="sumbit" class="btn btn-warning">DELETE</button>
  </form>
  <a href="{% url 'articles:index' %}">[back]</a>
{% endblock content %}