{% extends 'base.html' %}

{% block content %}
    <h1>NEW</h1>
    <form action="{% url 'articles:create' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="content" name="content"></textarea>
        </div>
        <button type="sumbit" class="btn btn-secondary">Submit</button>
    </form>
    <hr>
    <a href="{% url 'articles:index' %}">뒤로가기</a> 
    {% comment %}
    <form action="{% url 'articles:create' %}" method="GET">
        <label for="title">Title : </label>
        <input type="text" id="title" name="title"><br>
        <div class="input-group">
            <span class="input-group-text">Content</span>
            <textarea class="form-control" name="content" aria-level="Content"></textarea>
        </div>
        <input type="submit" value="저장">
    </form>
    {% endcomment %}
    
{% endblock content %}