{# 항상 최상단에 작성 #}
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% block content %}
    <h1>Index</h1>
    <p>안녕하세요</p>
    <a href="{% url 'dinner' %}">dinner</a>
    <a href="/greeeting/">greeeting</a>
    <a href="/throw/">throw</a>
    <a href="/catch/">catch</a>
  {% endblock content %} 
</body>
</html>